.body{
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.01em;
    font-family: Raleway, sans-serif;
    background-color: black;
}


.header{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.nav{
    background-color: #1B1B1B;
    width: 1110px;
    height: 70px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 642px;
}

.topMenu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.socialMediaIcons{
    width: 107px;
    height: 17px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.nav a{
    color: #9C9C9C;
}
.nav a:hover{
    color: white;
}

.nav a{
    color: #9C9C9C;
    text-decoration: none;
}
.nav img{
    width: 20px;
    height: 20px;
    filter: invert(0.5);
}

.nav a:hover img{
    filter: invert(1);
}

.main{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactIntro{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 35px;
    padding-bottom: 35px;
}

.headergetInTouch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.headergetInTouch p{
    justify-content: center;
    text-align: center;
    width: 570px;
    height: 72px;
    margin: 0;
    color: white;
}

.headergetInTouch h2{
    color: white;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}

.formGroup label{
    color: white;
    font-size: 12px;
}

.formGroup input{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    padding-left: 15px;
}

.formGroup textarea{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 335px;
    border-radius: 4px;
    padding: 15px ;
}

button{
    background-color: #3F8E00;
    color: white;
    border-radius: 4px;
    border-color : #62BA1B ;
    width: 370px;
    height: 40px;
}


.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #9C9C9C;
    font-size: 15px;
}