
.nav{
    background-color: #1B1B1B;
    width: 1110px;
    height: 70px;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    opacity: 1;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 642px;
}


.contactIntro{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding:150px 180px 40px;
}

.headergetInTouch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.headergetInTouch p{
    justify-content: center;
    text-align: center;
    min-width: 375px;
    max-width: 570px;
    width: 100%;
    height: auto;
    margin: 0;
    color: white;
}

.headergetInTouch h2{
    color: white;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
}

.formGroup label{
    color: white;
    font-size: 12px;
}

.formGroup input{
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 350px;
    border-radius: 4px;
    border: 1px solid #E6E6E6;
    padding-left: 15px;
}

.formGroup textarea{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 350px;
    border-radius: 4px;
    padding: 15px ;
}

button{
    background-color: #3F8E00;
    color: white;
    border-radius: 4px;
    border-color : #62BA1B ;
    width: 350px;
    height: 40px;
}


.footer p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #9C9C9C;
    font-size: 15px;
}