
* {
    box-sizing: border-box;
}

.body{
    margin: 0;
    line-height: 1.4;
    letter-spacing: 0.01em;
    font-family: IBM Plex Mono, serif;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    max-width: 3000px;

}

.body a{
    text-decoration: none;
}

.header{
    background-color: black;
    width: 100%;
    justify-items: center;
    padding: 0 85px;
}


.topbar{
    height: 70px;
    background-color: #1B1B1B;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius:8px;
    border-bottom-left-radius:8px;
    gap: 95px;
    padding: 0 95px;
    width: 100%;
    max-width: 2280px;
    position: fixed;;
}


.nav{
    float: left;
    display: flex;
    flex-direction: row;
    gap: 70px;
}

.nav a{
    color: #9C9C9C;
}
.nav a:hover{
    color: white;
}

.socialMediaIcons{
    float: right;
    width: 107px;
    height: 17px;
    display: flex;
    gap: 25px;
}



.header img{
    width: 20px;
    height: 20px;
    filter: invert(0.5);
}

.header a:hover img{
    filter: invert(1);
}

.banner{
    width: 100%;
    height: auto;
    padding-top: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 180px;
    padding-right: 180px;
    background-color: black;
    justify-items: center;
}

.bannerContainer{
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 32px;
}

.textAndCallBanner{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
    padding-top: 50px;

}

.text-banner{
    padding-right: 46px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.text-banner p{
    padding-top: 44px ;
}


.text-banner h1{
    display: flex;
    color: white;
    font-size: 44px;
    font-weight: 700;
    text-align: start;
}

.bannering{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
}

.bannering img{
    object-fit: cover;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    flex: 1 1 auto;
}

.call-banner{
    width: 308px;
    height: 63px;
    padding: 21px 64px;
    background-color: #3F8E00;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;

}


.banner h2{
    align-items: start;
    margin-bottom: 50px;
    color: white;
    font-size: 14px;
    font-weight: 50;
    text-align: start;
    margin-top: 0;
}

.clientLogos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
    gap: 10px;
    margin-bottom: 45px;

}

.clientLogosContainer{
    justify-content: center;
    background: #1B1B1B;
    border-radius: 8px;
    padding: 1px;
}

.logo{
    width: 160px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-radius: 8px;
    background-color: black;
    padding-left: 20px;
}

.svg{
    width: 40%;
    height: 40%;
    filter: invert(0.5);

}

.paychex{
    filter: invert(0);
}

.logo1{
    width: 160px;
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    border-radius: 8px;
}


.main{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
}
.heading p{
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 72px;
    margin: 0;
}
.heading h2{
    color: black;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.caseStudies{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 35px;
    margin-bottom: 40px;
    margin-left: 180px;
    margin-right: 180px;
}

.work{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;

}

.work1{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.workPhoto img{
    display: flex;
    width: 445px;
    height: 300px;
    border-radius: 8px;
}


.callToAction1{
    width: 190px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #FFA217;
}
.workTag1{
    width: 72px;
    height: 24px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #FFF6E9;
    margin-bottom: 10px;
    color: #FFA217;
    font-size: 12px;
}

.callToAction2{
    width: 190px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #000AFF;
}
.workTag2{
    width: 72px;
    height: 24px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D0E6FF;
    margin-bottom: 10px;
    color: #000AFF;
    font-size: 12px;
}

.callToAction3{
    width: 190px;
    height: 38px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    background-color: #2AB090;
}
.workTag3{
    width: 72px;
    height: 24px;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #E0FFF8;
    margin-bottom: 10px;
    color: #2AB090;
    font-size: 12px;
}

.work a{
    color: white;
    font-size: 14px;
}

.work1 a{
    color: white;
    font-size: 14px;
}

.work h3{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: start;
}

.introText{
    width: 421px;
    height: 96px;
    text-align: start;
}


.testimonials{
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 35px;
}

.testimonials h2{
    color: white;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.testimonialsContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 897px;
    gap: 30px;
}

.testimonialsContainer h1{
    color: white;
    font-size: 100px;
    font-weight: 200;
    text-align: start;
    margin: 0;
}
.testimonialintroduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.testimonialAuthor{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;
}

.info{
    padding: 20px 20px 20px 20px;
    background-color: black;
    border-radius: 6px;
}

.testimonialAuthor img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.testimonialAuthorName{
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-align: start;
}
.active{
    background: linear-gradient(to right, #484848 0%, black 100%);
    padding: 1px;
    border-radius: 6px;
}


.recentWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-bottom: 35px;
}

.workContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.workX{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 445px;
    height: 494px;
    gap: 10px;
}


.callToAction{
    width: 190px;
    height: 38px;
    background-color: #3F8E00;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    color: white;
    font-size: 14px;
}

.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #9C9C9C;
    font-size: 15px;
}